::-webkit-scrollbar {
  display: none;
}


@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(0.9);
  }
}

.animate-fadeInScale {
  animation: fadeInScale 1.5s ease-in-out forwards;
}

.hover-fill-div {
  position: relative;
  color: white; /* Initial text color */
  background-color: transparent; /* Initial background */
  overflow: hidden;
  transition: color 0.3s ease; /* Smooth text color transition */
}

.hover-fill-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start from the left */
  width: 100%;
  height: 100%;
  background-color: rgb(155, 169, 233); /* Background color on hover */
  z-index: -1; /* Keep the background behind the text */
  transition: left 0.5s ease; /* Smooth left-to-right animation */
}

.hover-fill-div:hover::before {
  left: 0; /* Move the background to the right */
}

.hover-fill-div:hover {
  color: black;
 /* Change text color on hover */
  z-index: 1; /* Ensure text is above the background */
}



